body {
  background-color: #e6ccff;
}
.Header {
  font-size: 15px;
  text-align: center;
  font-family: "Lucida Sans Typewriter";
  border: 10px solid #ffffff;
  border-color: #ffffff;
}

#weekday , #month , #month , #date, #weekday, #year {
display:inline-block;
}
